---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const PROJECTS = [
  
  {
    title: "Repositorio para Aprender el Camino a Ser un Buen Desarrollador Backend",
    description:
      "En este repositorio iré guardando contenido según lo vaya aprendiendo en mi camino como especialista backend, en mi caso con Java y Spring. La idea surge gracias al #Challenge-gentleman-diferencia de Gentleman Programming y tratará sobre crear contenido en LinkedIn y GitHub que sirva como autoaprendizaje y enseñanza para mejorar y diferenciarme de los demás desarrolladores backend.",
    github: "https://github.com/TecnoZoni/Roadmap-Backend-developer",
    image: "/projects/github.png",
  },
  {
    title: "API Rest para Negocio con Spring Boot",
    description:
      "API Rest completa que permite la operacions CRUD con Clientes, Productos y Ventas.",
    github: "https://github.com/TecnoZoni/ApiNegocioSpringBoot",
    image: "/projects/ApiNegocioSpring.png",
  },
  {
    title: "Pelucaria canina en Java usando JPA con MySQL",
    description:
      "Programa de registro de turnos para una peluqueria canina creado con Java SE utilizando Swing para la interfaz, EclipseLink como ORM y MySQL para la persistencia de datos.",
    github: "https://github.com/TecnoZoni/Peluqueria_Canina_Java_JPA",
    image: "/projects/caninos.jpg",
  },
  {
    title: "Concesionaria de Autos en Java usando JPA con MySQL",
    description:
      "Programa de registro de turnos para una peluqueria canina creado con Java SE utilizando Swing para la interfaz, EclipseLink como ORM y MySQL para la persistencia de datos.",
    github: "https://github.com/TecnoZoni/Crud_Concesionaria_de_Autos",
    image: "/projects/autos.jpg",
  },
  {
    title: "I.S.E.T Nº 25 Beppo Levi",
    description:
      "Presenté mi idea para el desarrollo de una renovada página web para el instituto al director como proyecto para mis prácticas profesionalizantes. Aceptó y le encantó la propuesta, y estuve bajo su supervisión durante lacreación y el hosting de la página. Para este proyecto, utilicé HTML, CSS, JavaScript y Bootstrap.",
    link: "http://www.beppolevi.edu.ar",
    image: "/projects/beppo.jpg",
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Imagenes de los proyectos"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Web
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
